 p{
  font-size: 2rem;
  font-family: georgia, times, serif;
  font-weight: bold;
  font-style: italic;
  line-height: 2.8rem;
  text-decoration: none;
  text-transform: lowercase;
  /* text-indent: 5rem; */
  text-align: left;
  letter-spacing: 0.0 5rem;
 }